*{
	margin: 0px;
	padding: 0px;
}

a:hover{
    text-decoration: none;
}
body{
	background-image: url('../img/fon.jpg');
	background-size: cover;
}
header{
	margin-left: 10%;
	margin-right: 10%;
	width: auto;
}
article hr{
	color: #130d2b;
    background-color: #130d2b; 
    height: 2px;
    margin-top: 5px;

}
article{
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	width: auto;
	background-color: #f5f5f5;
}
article .login{
	width: 100%;
	padding: 5px;
	text-align: right;
}
article section{
	margin-left: 10%;
	margin-right: 10%;
	width: auto;
        padding-bottom: 5%;
}
article section h6{
    color: #999999;
}
article section img{
	width: 200px;
	float: left;
	margin-right: 20px;
}
article section .post img{
    width: 90%;
    float: none;
    margin: 20px;
}

article section .post p{
    text-indent: 20px;
}
article section .post form{
width: 50%;
margin-bottom: 5%;
}
article section .post form textarea{
    margin-top: 2%;
    resize: none;
}
article section .post .comments{
    width: auto;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}
article section .post .comments h5{
    margin-right: 10px;
}
article section .post .comments h6{
    color: #999999;
}
.loginform{
    margin-left: 30%;
    margin-right: 30%;
}
.loginform input{
    margin-top: 2%;
}
footer{
    text-align: right;
        color: #999999;
        padding: 10px;
        margin-left: 10%;
	margin-right: 10%;
	width: auto;
	background-color: #f5f5f5;
}